@font-face {
    font-family: GT Walsheim Pro;
    src: local("GT Walsheim Pro Regular"), local("GTWalsheimProRegular"), url('../fonts/GTWalsheimProRegular.woff2') format("woff2"), url('../fonts/GTWalsheimProRegular.woff') format("woff"), url('../fonts/GTWalsheimProRegular.ttf') format("truetype");
    font-weight: 400;
    font-style: normal
}

@font-face {
    font-family: GT Walsheim Pro;
    src: local("GT Walsheim Pro Bold"), local("GTWalsheimProBold"), url('../fonts/GTWalsheimProBold.woff2') format("woff2"), url('../fonts/GTWalsheimProBold.woff') format("woff"), url('../fonts/GTWalsheimProBold.ttf') format("truetype");
    font-weight: 700;
    font-style: normal
}

* {
    font-family: GT Walsheim Pro;
}

.fs-14 {
    font-size: 14px;
}

.fs-12 {
    font-size: 12px;
}

.fs-10 {
    font-size: 10px;
}

.fw-500 {
    font-weight: 500;
}

a {
    text-decoration: none;
    color: black;
}

.color-orange {
    color: #FF4C38;
}

.bg-orange {
    background-color: #FF4C38;
}

.color-gray {
    color: #555;
}

.text-ellipsis {
    display: -webkit-box;
    -webkit-box-orient: vertical;
    overflow: hidden;
    text-overflow: ellipsis;
}

.highlight {
    height: 4px;
    border-radius: 6px;
    background: #FF4C38;
    width: 0;
    position: absolute;
    transition: all .5s ease-in-out;
}

@media screen and (max-width: 992px) {
    .fs-12 {
        font-size: 9px;
    }
}

@media screen and (min-width: 767px) {
    section .container-xxl {
        padding-right: 60px !important;
        padding-left: 60px !important;
    }
}

.hero-sec-img-container img,
.hero-sec-sm-img-container-a img,
.second-sec-img img,
.second-sec-main-img img,
.third-sec-main-img img,
.fourth-sec-img img,
.fifth-section-img img,
.sixth-sec-img-container img,
.sixth-section-img img,
.eighth-sec-img img,
.ninth-section-img img,
.tenth-sec-img img {
    display: block;
    width: 100%;
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    height: 100%;
    object-fit: cover;
    border-radius: 10px 10px 0px 0px;
}


/* -----------------------------------
hero section 
----------------------------------- */

.hero-sec-img-container {
    padding-top: 56%;
    position: relative;
    margin-right: 0%;
}

.hero-sec-sm-img-container-a {
    padding-top: 56%;
    position: relative;
    margin-right: 0%;
}

.hero-section-main-img-content h2 {
    font-size: 34px;
    font-weight: bold;
    -webkit-line-clamp: 3;
}

.hero-section-img-content h6 {
    -webkit-line-clamp: 2;
}

.hero-sec-box-shad {
    box-shadow: 0px 0px 10.390625px 0px rgba(0, 0, 0, 0.10);
    border: 0.742px solid #E2E2E2;
    background: #FFF;
    border-radius: 10px;
}

@media screen and (max-width: 992px) {
    .hero-section-main-img-content h2 {
        font-size: 25px;
    }
    .small-img-user {
        width: 25px;
        height: 25px;
    }
    .hero-section-h6 {
        font-size: 12px;
    }
    .hero-section .fs-14 {
        font-size: 12px;
    }
    .hero-section .fs-12 {
        font-size: 9px;
    }
    .big-img-user {
        width: 26px;
        height: 26px;
    }
}

@media screen and (max-width: 596px) {
    .hero-section-main-img-content h2 {
        font-size: 22px;
    }
    .small-img-user {
        width: 17px;
        height: 17px;
    }
}


/* -----------------------------------
Second section 
----------------------------------- */

.second-sec {
    background-color: #FF4C38;
    overflow: hidden;
}

.second-sec h2 {
    font-size: 45px;
}

.second-section-img-content h6 {
    -webkit-line-clamp: 2;
}

.second-sec-img {
    padding-top: 56%;
    position: relative;
    margin-right: 0%;
}

@media screen and (min-width: 768px) {
    .second-sec-slider .slick-arrow {
        position: absolute;
        width: 61px;
        top: -30%;
        cursor: pointer;
    }
    .second-sec-slider svg.slick-arrow.prevArrow {
        right: 55px;
    }
    .second-sec-slider svg.slick-arrow.nextArrow {
        right: 0;
    }
    .second-sec-slider .slick-dots {
        display: none !important;
    }
}

@media screen and (max-width: 767px) {
    .second-sec-slider .slick-arrow {
        width: 60px;
        position: absolute;
        bottom: -17%;
        transform: translateX(-50%);
        z-index: 1;
        cursor: pointer;
    }
    .second-sec-slider svg.slick-arrow.prevArrow {
        left: 10%;
    }
    .second-sec-slider svg.slick-arrow.nextArrow {
        right: -3%;
    }
    .second-sec-slider .slick-dots li button:before {
        font-size: 17px !important;
        opacity: 0.5 !important;
        color: #fff !important;
    }
    .second-sec-slider .slick-dots li.slick-active button:before {
        opacity: .85 !important;
        color: rgb(255, 255, 255) !important;
    }
    .second-sec-slider .slick-dots {
        bottom: -61px;
    }
}


/* -----------------------------------
third section 
----------------------------------- */

.third-sec .top-head ul li {
    cursor: pointer;
}

.second-sec-main-img {
    padding-top: 56.2%;
    position: relative;
    margin-right: 0%;
}

.second-sec-main-img img {
    border-radius: 20px;
}

.third-sec-main-content h2 {
    -webkit-line-clamp: 3;
}

.third-sec-main-img {
    padding-top: 56.2%;
    position: relative;
}

.tab-content.active {
    display: flex;
}

.tab-content {
    display: none;
}

@media screen and (min-width: 992px) {
    .third-sec-main-content {
        box-shadow: 0px 0px 10.390625px 0px rgba(0, 0, 0, 0.10);
        background-color: white;
        border-radius: 10px;
        width: 41%;
        top: 50%;
        position: absolute;
        right: 0;
        transform: translateY(-50%);
    }
}

@media screen and (max-width: 1200px) {
    .third-sec-main-content h2 {
        font-size: 24px !important;
    }
}

@media screen and (max-width: 992px) {
    .third-section .fs-12 {
        font-size: 9px;
    }
    .third-sec-main-content h2 {
        font-size: 20px !important;
    }
    .third-sec .top-head ul li {
        font-size: 20px !important;
    }
    .third-sec-box-shad {
        box-shadow: 0px 0px 20px 0px rgba(0, 0, 0, 0.10);
        border-radius: 10px;
    }
}

@media screen and (max-width: 768px) {
    .third-sec .top-head ul li {
        font-size: 18px !important;
    }
}


/* -----------------------------------
Fourth section 
----------------------------------- */

.fourth-sec {
    background: #F9F9F9;
}

.fourth-sec .top-head ul li {
    cursor: pointer;
}

.fourth-section-img-content h6 {
    -webkit-line-clamp: 3;
}

.fourth-sec-img {
    padding-top: 56%;
    position: relative;
    margin-right: 0%;
}

.fourth-sec-img span {
    border-radius: 8px 0 10px 0;
    color: black;
    background-color: white !important;
}

.fourth-sec .slick-prev:before {
    content: '';
    background-image: url('/assets/images/arrow-left-red.svg') !important;
    width: 40px;
    height: 40px;
    background-repeat: no-repeat;
    position: absolute;
}

.fourth-sec .slick-next:before {
    content: '';
    background-image: url("/assets/images/arrow-right-red.svg") !important;
    width: 40px;
    height: 40px;
    background-repeat: no-repeat;
    position: absolute;
}

.fourth-sec .slick-prev {
    left: -50px;
    top: 46%;
    z-index: 1;
}

.fourth-sec .slick-next {
    right: -10px;
    top: 46%;
    z-index: 1;
}

.fourth-sec .slick-dots {
    display: none !important;
}

.fourth-sec h6 {
    font-size: 20px;
}


/* @media screen and (max-width:992px) {
    .fourth-sec h6 {
        font-size: 18px;
    }
} */

@media screen and (max-width:767px) {
    .fourth-sec .slick-prev {
        bottom: -30px;
        top: auto;
        left: 10px;
    }
    .fourth-sec .slick-next {
        bottom: -30px;
        top: auto;
        right: 46px;
    }
    .fourth-sec .slick-dots li button:before {
        font-size: 17px !important;
        opacity: 0.2 !important;
        color: #FF4C38 !important;
    }
    .fourth-sec .slick-dots li.slick-active button:before {
        opacity: .85 !important;
        color: #FF4C38 !important;
    }
    .fourth-sec .slick-dots {
        bottom: -61px;
    }
    .fourth-sec .slick-dots {
        display: block !important;
    }
}

.fourth-sec .top-head ul li {
    font-size: 18px !important;
}


/* -----------------------------------
fifth section 
----------------------------------- */

.fifth-section-img {
    padding-right: 40%;
    padding-top: 23%;
    position: relative;
}

.fifth-section-img img {
    border-radius: 10px;
}

.fifth-section-img-content h6 {
    -webkit-line-clamp: 2;
}

@media only screen and (min-width: 992px) and (max-width:1200px) {
    .fifth-sec .fs-12 {
        font-size: 10px;
    }
    .fifth-sec .fs-14 {
        font-size: 12px;
    }
}


/* -----------------------------------
sixth section 
----------------------------------- */


/* .sixth-sec h2 {
    font-size: 45px;
} */

.sixth-sec-img-container img {
    border-radius: 10px;
}

.sixth-sec-img-container {
    padding-top: 56%;
    position: relative;
    margin-right: 0%;
}

.sixth-section-img {
    padding-right: 42%;
    padding-top: 23.3%;
    position: relative;
}

.sixth-sec h4 {
    -webkit-line-clamp: 2;
}

.sixth-section-img-content h6 {
    -webkit-line-clamp: 2;
}

@media only screen and (min-width: 768px) and (max-width:1200px) {
    .sixth-sec .fs-12 {
        font-size: 10px;
    }
    .sixth-sec .fs-14 {
        font-size: 12px;
    }
}


/* -----------------------------------
seventh-section 
----------------------------------- */

.seven-section {
    box-shadow: 0px 0px 14px 0px rgba(0, 0, 0, 0.1);
}

.seven-section-img {
    padding-bottom: 0%;
    padding-right: 0%;
    padding-top: 86%;
    padding-left: 0%;
    position: relative;
    margin: 0 7px;
}

.seven-section-img img {
    display: block;
    width: 100%;
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    height: 100%;
    object-fit: cover;
    border-radius: 6px;
    padding: 7%;
}

.seven-section .logo-img-1 {
    background: #7A2CF4;
}

.seven-section .logo-img-2 {
    background: #FFCAB9;
}

.seven-section .logo-img-3 {
    background: #DCEEFF;
}

.seven-section .logo-img-4 {
    background: #573377;
}

.seven-section .last-container {
    background-color: #f1f1f1;
}

.seven-section form button {
    top: 8px;
    margin-right: 8px;
}

.seven-sec-social:before {
    content: "";
    position: absolute;
    left: 0;
    right: 0;
    height: 3px;
    background: #FF4C38;
    top: 50%;
    z-index: -1;
}


/* -----------------------------------
eighth-section 
----------------------------------- */

.eighth-sec h2 {
    font-size: 45px;
}

.eighth-sec h3 {
    font-size: 35px;
}

.eighth-sec-img img {
    border-radius: 10px;
}

.eighth-sec-img {
    padding-top: 56%;
    position: relative;
    margin-right: 0%;
}

.eighth-sect-img-content h3 {
    -webkit-line-clamp: 2 !important;
}

.eighth-sect-img-content .text-ellipsis {
    -webkit-line-clamp: 3;
}

.eighth-sec .fs-18 {
    font-size: 18px;
}

@media only screen and (max-width:992px) {
    .eighth-sec h3 {
        font-size: 20px;
    }
    .eighth-sec .fs-18 {
        font-size: 16px;
    }
}

@media only screen and (max-width:768px) {
    .eighth-sec h2 {
        font-size: 25px;
    }
    .eighth-sec h3 {
        font-size: 20px;
    }
    .eighth-sect-img-content .text-ellipsis {
        -webkit-line-clamp: 2;
    }
    .eighth-sec .fs-18 {
        font-size: 14px;
    }
}

@media only screen and (max-width:596px) {
    .eighth-sec h3 {
        font-size: 14px;
    }
    .eighth-sect-img-content .text-ellipsis {
        -webkit-line-clamp: 2;
    }
    .eighth-sec .fs-18 {
        font-size: 10px;
    }
}


/* -----------------------------------
ninth-section 
----------------------------------- */

.ninth-section-img {
    padding-right: 40%;
    padding-top: 23%;
    position: relative;
}

.ninth-section-img img {
    border-radius: 10px;
}

.ninth-section-img-content h6 {
    -webkit-line-clamp: 2;
}

.ninth-sec .fs-14 {
    font-size: 10px;
}

.eighth-sect-img-content h3 {
    -webkit-line-clamp: 2 !important;
}

@media screen and (min-width:1200px) {
    .ninth-section-img-content h6 {
        font-size: 20px;
    }
    .ninth-sec .small-img-john {
        width: 25px;
        height: 25px;
    }
    .ninth-sec .fs-14 {
        font-size: 12px;
    }
}

@media screen and (max-width:596px) {
    .ninth-section-img-content h6 {
        font-size: 14px;
    }
}


/* -----------------------------------
tenth-section 
----------------------------------- */

.tenth-sec h2 {
    font-size: 45px;
}

.tenth-sec-img {
    padding-top: 56%;
    position: relative;
    margin-right: 0%;
}

.tenth-sec-img img {
    border-radius: 10px;
}

.tenth-sect-img-content .text-ellipsis {
    -webkit-line-clamp: 2;
}

@media only screen and (max-width:768px) {
    .tenth-sec h2 {
        font-size: 25px;
    }
}